-----------------------------------------------------
 Logs gathered: {{ log_file }} for {{ inventory_hostname }}
-----------------------------------------------------

{{ log_messages.stdout }}

-----------------------------------------------------

