-----------------------------------------------------
Sample Output of Script: {{ my_scr }}
-----------------------------------------------------
{{ my_scr_out.stdout }}
-----------------------------------------------------
