-----------------------------------------------------
 Uptime for  {{ inventory_hostname }}
-----------------------------------------------------

{{ uptime.stdout }}

-----------------------------------------------------

