-----------------------------------------------------
 sar output for {{ inventory_hostname }}
-----------------------------------------------------

{{ sar_all.stdout }}

-----------------------------------------------------
